<mat-toolbar class="mat-elevation-z4 mat-typography" color="primary" >
	<nav>
	<h1>iPot Mobile Learning</h1>
	<span class="spacer"></span>
	<p class="admin" *ngIf="admin">Administrador</p>
  <p class="admin" *ngIf="gestor">Gestor</p>
	<span class="spacer"></span>
	<a (click)="logout()" class="docs-button docs-navbar-hide-small mat-button mat-body-1"  mat-button="" tabindex="0" aria-disabled="false">
		<span class="mat-button-wrapper">Log Out</span>
	</a>
	</nav>
</mat-toolbar>

<mat-tab-group class="mat-elevation-z4 mat-typography">
 		<mat-tab label="Gestores" *ngIf="admin === true"><app-gestores></app-gestores></mat-tab>
 		<mat-tab label="Cursos" *ngIf="admin === true"><app-cursos></app-cursos></mat-tab>
    <mat-tab label="Alumnos" *ngIf="gestor === true"><app-alumnos></app-alumnos></mat-tab>
    <mat-tab label="Modulos" *ngIf="gestor === true"><app-modulos></app-modulos></mat-tab>
    <mat-tab label="Contenido" *ngIf="gestor === true"><app-contenidos></app-contenidos></mat-tab>
</mat-tab-group>







