mat-toolbar{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 50px; 
}

nav {
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
}

a{
  padding: 0 14px;
}

mat-toolbar p{
	margin-top: 0.5%;
	
}

.spacer {
  flex: 1 1 auto;
}


mat-tab-group{
	position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
