mat-card{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.list-card{
  padding: 0;
}

.list{
  overflow: auto;
}

mat-list-item{
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

.id{
  margin-top: 1%;
  width: 4%;
}
.ahorcado-palabra{
  margin-top: 1%;
  width: 48%;
}
.ahorcado-pista{
  margin-top: 1%;
  margin-left: 10%;
  width: 48%;
}

.jeroglifico-pista{
  margin-top: 1%;
  width: 40%;
}
.jeroglifico-respuesta{
  margin-top: 1%;
  width: 40%;
}

.jeroglifico-img{
  height: 100%;
}

.jeroglifico-img-titulo{
  margin-top: 1%;
}

.parejas-pista{
  margin-top: 1%;
  width: 30%;
}

.parejas-elements{
  margin-top: 1%;
  width: 10%;
}

.pregunta-pregunta{
  margin-top: 2%;
  width: 40%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.pregunta-correcta{
  margin-top: 1%;
  width: 10%;
}

.puzzle-tema{
  margin-top: 1%;
  width: 30%;
}

.puzzle-palabra{
  margin-top: 1%;
  width: 15%;
}

.sopa-pregunta{
  margin-top: 1%;
  width: 20%;
  text-overflow: hidden !important;
  overflow: hidden;
}

.sopa-letras{
  margin-top: 1%;
  width: 50%;
  margin-left: 1%;
  text-overflow:hidden !important;
  overflow: hidden;
}

.sopa-palabras{
  margin-top: 1%;
  margin-left: 1%;
  width: 20%;
  text-overflow: hidden !important;
  overflow: hidden;
}

.separador{
  width: 5%;
}

button{
  margin: 5px;
}

.add-button{
  margin: 30px !important;
  float: right;
  z-index: 1;
}
.cabecera{
  background-color: #f5f5f5;
  margin: 0 !important;
  padding: 0 !important;
}

.cabecera h3{
  margin-top: 0.5%;
}

.campo-busqueda{
  margin-left: 30%;
  margin-right: 10%;
  width: 40% !important;
}

.select{
  text-align: center;
  background-color: #f5f5f5;
}

.titulo{
  background-color: #f5f5f5;
  text-align: left !important;
}

.modalidad{
  margin-left: 5%;
  width: 20%;
}

.modulo{
  margin-left: 5%;
  width: 40%;
  margin-right: 5%;
}

.titulo{
  background-color: #f5f5f5;
}

.aniadir{
  margin-left: 2.5%;
  margin-bottom: 0.5%;
}

.confirmar{
  margin-right: 5%;
}

.newElement{
  margin-left: 20%;
  margin-right: auto;
  width: 60%;
  position:absolute;
  top: 10%;
  padding: 0;
}

.newElement h3{
  width: 100%;
  text-align: center;
}

.newElement mat-form-field{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.newElement mat-progress-bar{
  width: 40%;
  margin-top: 1%;
  margin-left: 0;
}

.newElement input{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.newElement div{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.newElement button{
  margin-left: 10%;
}

.newElement input{
  width: 40%;
  margin-left: 10%;
  margin-right: 0%;
  float: left;
}

mat-toolbar{
  margin: 0 0 2% 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  padding: 1% 4% 1% 4%

}

mat-toolbar p{
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.buttons{
  width: 60%;
  margin-left: 40%;
  float: left;
}

.buttons button{
  float: right;

}

.parejas-parejas{
  width: 100%;
}

.parejas-col{
  width: 48% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
  float: left;
}
.parejas-col div{
  width: 100%;
  padding: 0;
}

.parejas-col .id{
  width: 20% !important;
  margin: 0 !important;
  float: left;
}

.parejas-col .palabra{
  margin-left: 5%!important;
  width: 55% !important;
  margin-right: 5% !important;
  float: left;
}

.parejas-col input{
  width: 100%;
}

.pregunta-respuesta{
  width: 60% !important;
  margin-right: 0;
  float: left !important;
}

.pregunta-add{
  float: left !important;
  margin-left: 5% !important;
}

.pregunta-resTable{
  width: 40% !important;
  margin-left: 30% !important;
  text-align: center;
}

.pregunta-resTable th tr td{
  width: 100%;
  text-align: center;
}

.puzzle-orden{
  float: left !important;
  width: 10% !important;
  margin-right: 0;
}

.puzzle-id{
  float: left !important;
  width: 40% !important;
  margin-left: 1%!important;
  margin-right: 0;
}

input{
  width: 100% !important;
}

.progress{
  width: 40% !important;
}

.delete{
  position: absolute;
  right: 1%;
  margin: 0;
}

