<mat-card class="list-card mat-typography">

  <!--<mat-progress-bar *ngIf="!contenidosList.length" mode="query"></mat-progress-bar>-->

  <mat-list class="select">
    <mat-select [disabled]="add" class="modalidad" placeholder="Modalidad" [(ngModel)]="modalidad" name="first">
      <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad">
        {{ modalidad }}
      </mat-option>
    </mat-select>

    <mat-select [disabled]="add" class="modulo" placeholder="Modulos" [(ngModel)]="modulo" name="second">
      <mat-option *ngFor="let modulo of modulosList" [value]="modulo.name">
        {{ modulo.name }}
      </mat-option>
    </mat-select>

    <button mat-button color="primary" class="confirmar" (click)="getContenidos()" [disabled]="modulo == '' || modalidad == '' || add">CONFIRMAR</button>

    <button mat-raised-button (click)="addElement()" class="aniadir" color="primary" [disabled]="modulo == '' || modalidad == ''">
      <mat-icon>add</mat-icon>
    </button>

    <mat-divider></mat-divider>

   <!-- <form class="cabecera">

      <mat-form-field class="campo-busqueda">
        <input [(ngModel)]="filter" matInput placeholder="Búsqueda por curso o gestor" value="" name="search">
      </mat-form-field>
      <button mat-button color="basic">AGREGAR ELEMENTO</button>
    </form>

    <mat-divider></mat-divider>-->
  </mat-list>

  <mat-list *ngIf="modalidad" class="titulo">
    <mat-list-item role="listitem" >
      <h3 class="id">ID</h3>

      <h3 *ngIf="modalidad == 'Ahorcado'" class="ahorcado-palabra">Palabra</h3>
      <h3 *ngIf="modalidad == 'Ahorcado'" class="ahorcado-pista">Pista</h3>

      <h3 *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-pista">Pista</h3>
      <h3 *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-respuesta">Respuesta</h3>
      <h3 *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-img-titulo">Imagen</h3>

      <h3 *ngIf="modalidad == 'Parejas'" class="parejas-pista">Pista</h3>
      <h3 *ngIf="modalidad == 'Parejas'" class="parejas-pista">Columna I</h3>
      <div *ngIf="modalidad == 'Parejas'" class="separador"></div>
      <h3 *ngIf="modalidad == 'Parejas'" class="parejas-pista">Columna R</h3>

      <h3 *ngIf="modalidad == 'Preguntas'" class="pregunta-pregunta">Preguntas</h3>
      <h3 *ngIf="modalidad == 'Preguntas'" class="pregunta-pregunta">Respuestas</h3>
      <h3 *ngIf="modalidad == 'Preguntas'" class="pregunta-correcta">Correcta</h3>

      <h3 *ngIf="modalidad == 'Puzzles'" class="puzzle-tema">Tema</h3>
      <h3 *ngIf="modalidad == 'Puzzles'" class="puzzle-palabra">Palabras</h3>

      <h3 *ngIf="modalidad == 'Sopa'" class="sopa-pregunta">Pista</h3>
      <h3 *ngIf="modalidad == 'Sopa'" class="sopa-letras">Letras</h3>
      <h3 *ngIf="modalidad == 'Sopa'" class="sopa-palabras">Palabras</h3>

    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list dense class="list" role="list" >
    <mat-list-item role="listitem" *ngFor="let contenido of contenidosList">

      <p class="id">{{contenido.num}}</p>

      <p *ngIf="modalidad == 'Ahorcado'" class="ahorcado-palabra">{{contenido.Palabra}}</p>
      <p *ngIf="modalidad == 'Ahorcado'" class="ahorcado-palabra">{{contenido.Pista}}</p>

      <p *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-pista">{{contenido.pista}}</p>
      <p *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-respuesta">{{contenido.respuesta}}</p>
      <img *ngIf="modalidad == 'Jeroglifico'" class="jeroglifico-img" [src]="contenido.url">

      <p *ngIf="modalidad == 'Parejas'" class="parejas-pista">{{contenido.pista}}</p>
      <p [hidden]="modalidad != 'Parejas'" *ngFor="let item of contenido.i | slice:1"  class="parejas-elements">{{item.orden}} - {{item.palabra}}</p>
      <div *ngIf="modalidad == 'Parejas'" class="separador"></div>
      <p [hidden]="modalidad != 'Parejas'" *ngFor="let item of contenido.r | slice:1"  class="parejas-elements">{{item.orden}} - {{item.palabra}}</p>

      <p *ngIf="modalidad == 'Preguntas'" class="pregunta-pregunta">{{contenido.pregunta}}</p>
      <p *ngIf="modalidad == 'Preguntas'" class="pregunta-pregunta">{{contenido.respuestas}}</p>
      <p *ngIf="modalidad == 'Preguntas'" class="pregunta-correcta">{{contenido.correcta}}</p>

      <p *ngIf="modalidad == 'Puzzles'" class="puzzle-tema">{{contenido.tema}}</p>
      <ng-container *ngIf="modalidad == 'Puzzles'">
        <p *ngFor="let item of contenido.palabras"  class="puzzle-palabra">{{item.orden}} - {{item.id}}</p>
      </ng-container>

      <p *ngIf="modalidad == 'Sopa'" class="sopa-pregunta">{{contenido.pregunta}}</p>
      <p *ngIf="modalidad == 'Sopa'" class="sopa-letras">{{contenido.letras}}</p>
      <p *ngIf="modalidad == 'Sopa'" class="sopa-palabras">{{contenido.palabras}}</p>

      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card class="newElement mat-elevation-z12" *ngIf="add">

  <mat-toolbar class="mat-typography" color="primary" >
    <p>Añadir {{modalidad}} - {{modulo}}</p>
  </mat-toolbar>
  <form >
    <ng-container *ngIf="modalidad == 'Ahorcado'">
      <mat-form-field><input matInput [(ngModel)]="ahorcado.num" placeholder="ID" name="num"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="ahorcado.Palabra" placeholder="Palabra" name="palabra"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="ahorcado.Pista" placeholder="Pista" name="pista"></mat-form-field>
      <div class="buttons">
        <button mat-button color="primary" (click)="aniadirElemento()"
                [disabled]="ahorcado.Palabra == '' || ahorcado.Pista == '' || ahorcado.num == ''">CONFIRMAR</button>
        <button mat-button color="warn" (click)="addElement()" class="" [disabled]="modulo == '' || modalidad == ''">CANCELAR</button>
      </div>
    </ng-container>

    <ng-container *ngIf="modalidad == 'Jeroglifico'">
      <mat-form-field><input matInput [(ngModel)]="jeroglifico.num" placeholder="ID" name="num"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="jeroglifico.pista" placeholder="Pista" name="palabra"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="jeroglifico.tema" placeholder="Tema" name="tema"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="jeroglifico.respuesta" placeholder="Respuesta" name="respuesta"></mat-form-field>
      <input (change)="upload($event)" type="file" accept=".png,.jpg" name="myfile" id="input"/>
      <mat-progress-bar mode="determinate" [value]="uploadProgress | async"></mat-progress-bar>
      <!--<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert"><a [href]="downloadSrc">{{downloadSrc}}</a></div>-->

      <div class="buttons">
        <button mat-button color="primary" (click)="aniadirElemento()"
                [disabled]="jeroglifico.num == '' || jeroglifico.pista == '' || jeroglifico.tema == '' || jeroglifico.respuesta == ''
                || jeroglifico.url == ''">CONFIRMAR</button>
        <button mat-button color="warn" (click)="addElement()" class="cancel" [disabled]="modulo == '' || modalidad == ''">CANCELAR</button>
      </div>
    </ng-container>

    <ng-container *ngIf="modalidad == 'Parejas'">
      <mat-form-field><input matInput [(ngModel)]="parejas.num" placeholder="ID" name="num"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="parejas.pista" placeholder="Palabra" name="pista"></mat-form-field>

      <div class="parejas-parejas">
        <div class="parejas-col">
          <div>
            <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.i[1].orden" placeholder="Pareja" name="num1"></mat-form-field>
            <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.i[1].palabra" placeholder="Palabra" name="palabra1"></mat-form-field>

            <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.i[2].orden" placeholder="Pareja" name="num2"></mat-form-field>
            <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.i[2].palabra" placeholder="Palabra" name="palabra2"></mat-form-field>

            <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.i[3].orden" placeholder="Pareja" name="num3"></mat-form-field>
            <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.i[3].palabra" placeholder="Palabra" name="palabr3"></mat-form-field>
          </div>
        </div>

        <div class="parejas-col">
          <div>
            <div>
              <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.r[1].orden" placeholder="Pareja" name="numr1"></mat-form-field>
              <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.r[1].palabra" placeholder="Palabra" name="palabrar1"></mat-form-field>

              <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.r[2].orden" placeholder="Pareja" name="numr2"></mat-form-field>
              <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.r[2].palabra" placeholder="Palabra" name="palabrar2"></mat-form-field>

              <mat-form-field class="id"><input matInput maxlength="1" [(ngModel)]="parejas.r[3].orden" placeholder="Pareja" name="numr3"></mat-form-field>
              <mat-form-field class="palabra"><input matInput [(ngModel)]="parejas.r[3].palabra" placeholder="Palabra" name="palabrar3"></mat-form-field>

            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button mat-button color="primary" (click)="aniadirElemento()"
                [disabled]="parejas.num == '' || parejas.pista == ''
                || parejas.i[1].orden == null || parejas.i[1].palabra == '' || parejas.i[2].orden == null
                  || parejas.i[2].palabra == '' || parejas.i[3].orden == null || parejas.i[3].palabra == ''
                || parejas.r[1].orden == null || parejas.r[1].palabra == '' || parejas.r[2].orden == null
                  || parejas.r[2].palabra == '' || parejas.r[3].orden == null || parejas.r[3].palabra == ''">CONFIRMAR</button>
        <button mat-button color="warn" (click)="addElement()" class="" [disabled]="modulo == '' || modalidad == ''">CANCELAR</button>
      </div>
    </ng-container>

    <ng-container *ngIf="modalidad == 'Preguntas'">
      <mat-form-field><input matInput [(ngModel)]="pregunta.num" placeholder="ID" name="num"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="pregunta.pregunta" placeholder="Pregunta" name="palabra"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="pregunta.correcta" placeholder="Correcta" name="correcta"></mat-form-field>
      <mat-form-field class="pregunta-respuesta"><input matInput class="pregunta-respuesta" [(ngModel)]="respuesta" placeholder="Respuesta" name="resp"> </mat-form-field>
      <button mat-icon-button [disabled]="respuesta == ''" (click)="addRespuesta()" class="pregunta-add"><mat-icon>add</mat-icon></button>

      <table *ngIf="pregunta.respuestas.length > 1" mat-table class="pregunta-resTable">
        <th> Respuestaw</th>
          <tr *ngFor="let res of pregunta.respuestas | slice:1" mat-cell>
            <td class="res">{{res}}</td>
          </tr>
      </table>

      <div class="buttons">
        <button mat-button color="primary" (click)="aniadirElemento()"
                [disabled]="pregunta.num == '' || pregunta.pregunta == ''
                || pregunta.correcta == '' || pregunta.respuestas.length < 2">CONFIRMAR</button>
        <button mat-button color="warn" (click)="addElement()" class="cancel" [disabled]="modulo == '' || modalidad == ''">CANCELAR</button>
      </div>
    </ng-container>

    <ng-container *ngIf="modalidad == 'Puzzles'">
      <mat-form-field><input matInput [(ngModel)]="puzzle.num" placeholder="ID" name="num"></mat-form-field>
      <mat-form-field ><input matInput [(ngModel)]="puzzle.tema" placeholder="Tema" name="palabra"></mat-form-field>
      <mat-form-field class="puzzle-orden"><input matInput  [disabled]="puzzle.palabras.length > 3" [(ngModel)]="palabra.orden" placeholder="Orden" name="ord"></mat-form-field>
      <mat-form-field class="puzzle-id"><input matInput  [disabled]="puzzle.palabras.length > 3" [(ngModel)]="palabra.id" placeholder="Palabra" name="id"></mat-form-field>
      <button mat-icon-button [disabled]="palabra.orden == '' || palabra.id == '' || puzzle.palabras.length > 3" (click)="addRespuesta()" class="pregunta-add"><mat-icon>add</mat-icon></button>

      <table *ngIf="puzzle.palabras.length > 0" mat-table class="pregunta-resTable">
        <th> Respuestas</th>
        <tr *ngFor="let res of puzzle.palabras" mat-cell>
          <td class="res">{{res.orden}} - {{res.id}}</td>
        </tr>
      </table>

      <div class="buttons">
        <button mat-button color="primary" (click)="aniadirElemento()"
                [disabled]="puzzle.num == '' || puzzle.tema == ''
                || puzzle.palabras.length < 2">CONFIRMAR</button>
        <button mat-button color="warn" (click)="addElement()" class="cancel" [disabled]="modulo == '' || modalidad == ''">CANCELAR</button>
      </div>
    </ng-container>

  </form>
</mat-card>



