mat-card{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.list-card{
padding: 0;
}

.list{
  overflow: hidden !important;
}

mat-list-item{
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

.id{
  margin-top: 1%;
  width: 4%;
}
.ahorcado-palabra{
  margin-top: 1%;
  width: 48%;
}
.ahorcado-pista{
  margin-top: 1%;
  margin-left: 10%;
  width: 48%;
}

.jeroglifico-pista{
  margin-top: 1%;
  width: 40%;
}
.jeroglifico-respuesta{
  margin-top: 1%;
  width: 40%;
}

.jeroglifico-img{
  height: 100%;
}

.jeroglifico-img-titulo{
  margin-top: 1%;
}

.parejas-pista{
  margin-top: 1%;
  width: 30%;
}

.parejas-elements{
  margin-top: 1%;
  width: 10%;
}

.pregunta-pregunta{
  margin-top: 2%;
  width: 40%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.pregunta-correcta{
  margin-top: 1%;
  width: 10%;
}

.puzzle-tema{
  margin-top: 1%;
  width: 30%;
}

.puzzle-palabra{
  margin-top: 1%;
  width: 15%;
}

.sopa-pregunta{
  margin-top: 1%;
  width: 20%;
}

.sopa-letras{
  margin-top: 1%;
  width: 50%;
}

.sopa-palabras{
  margin-top: 1%;
  width: 20%;
}

.separador{
  width: 5%;
}

button{
  margin: 5px;
}

.add-button{
  margin: 30px !important;
  float: right;
  z-index: 1;
}
.cabecera{
  background-color: #f5f5f5;
  margin: 0 !important;
  padding: 0 !important;
}

.cabecera h3{
  margin-top: 0.5%;
}

.campo-busqueda{
  margin-left: 30%;
  margin-right: 10%;
  width: 40% !important;
}

.select{
  text-align: center;
  background-color: #f5f5f5;
}

.titulo{
  background-color: #f5f5f5;
  text-align: left !important;
}

.modalidad{
  margin-left: 5%;
  width: 20%;
}

.modulo{
  margin-left: 5%;
  width: 40%;
  margin-right: 5%;
}

.titulo{
  background-color: #f5f5f5;
}

.aniadir{
  margin-left: 2.5%;
  margin-bottom: 0.5%;
}

.confirmar{
  margin-right: 5%;
}

.newElement{
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  position:absolute;
  top: 10%;
}

.newElement h3{
  width: 100%;
  text-align: center;
}

.newElement mat-form-field{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.uploadButton{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.newElement button{
  margin-left: 10%;
}
