/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
	overflow: hidden;
	background-color: #ECEFF1;
  min-height: 100%;
}

app-root{
  min-height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}
