<mat-card class="mat-elevation-z2 list-card mat-typography">


  <form class="cabecera">
    <mat-form-field class="campo-busqueda">
      <input [(ngModel)]="filter" matInput placeholder="Búsqueda por nombre o email" value="" name="search">
    </mat-form-field>
    <button (click)="newModulo()" mat-raised-button color="primary">AGREGAR MODULO</button>
  </form>
  <mat-divider></mat-divider>

  <mat-list class="cabecera">
    <mat-list-item role="listitem" >
      <h3 class="id">ID</h3>
      <h3 class="name">Nombre</h3>
      <h3 class="email">Activado</h3>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <!--<mat-progress-bar *ngIf="!(gestor != undefined && modulosList.length)" mode="query"></mat-progress-bar>-->
  <mat-list *ngIf="gestor != undefined" class="list" role="list" >

    <mat-list-item class="funciones" role="listitem" *ngIf="nuevoModulo">
      <input class="id" [(ngModel)]="modulo.id" matInput placeholder="id" name="id">
      <input class="name" [(ngModel)]="modulo.name" matInput placeholder="Name" name="name">
      <mat-slide-toggle class="email" [checked]="true" [(ngModel)]="modulo.enabled"></mat-slide-toggle>
      <span class="spacer"></span>
      <button (click)="addModulo()" [disabled]="!modulo" mat-raised-button color="primary"><mat-icon mat-list-icon>done</mat-icon></button>
      <button (click)="newModulo()" mat-raised-button color=""><mat-icon mat-list-icon>cancel</mat-icon></button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="funciones" role="listitem" *ngIf="modificarModulo">
      <input class="id" [(ngModel)]="modulo.id" matInput placeholder="id" name="id">
      <input class="name" [(ngModel)]="modulo.name" matInput placeholder="Name" name="name">
      <mat-slide-toggle class="email" [checked]="true" [(ngModel)]="modulo.enabled"></mat-slide-toggle>
      <span class="spacer"></span>
      <button  (click)="updateModulo()" [disabled]="!modulo" mat-raised-button color="primary"><mat-icon mat-list-icon>done</mat-icon></button>
      <button (click)="modifyModulo()" mat-raised-button color=""><mat-icon mat-list-icon>cancel</mat-icon></button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item role="listitem" *ngFor="let modulo of modulosList">
      <p class="id">{{modulo.id}}</p>
      <p class="name">{{modulo.name}}</p>
      <mat-slide-toggle class="email" [checked]=modulo.enabled></mat-slide-toggle>
      <button  (click)="modifyModulo(modulo.name, modulo.id, modulo.enabled)" mat-raised-button color="basic" ><mat-icon mat-list-icon>edit</mat-icon></button>
      <button  (click)="deleteModulo(modulo.id)" [disabled]="" mat-raised-button color="warn"><mat-icon mat-list-icon>delete</mat-icon></button>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>
</mat-card>
