<ion-view title="Ahorcado" hide-back-button="true" cache-view="false" id="page10" style="background-color:#E9F3E9;">
  <ion-content padding="true" class="has-header">
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div id="ahorcado-container9" ng-show="show === false" class="container">
      <h5 id="ahorcado-heading26" style="color:#000000;font-weight:lighter;text-align:center;">Ejercicio: {{contador}}/10</h5>
      <h3 id="ahorcado-heading27" style="color:#000000;font-weight:400;text-align:center;">{{objeto.pista}}</h3>
      <div>
        <img src="{{fotoAhorcado[fallos]}}" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h5 id="ahorcado-heading30" style="color:#000000;font-weight:400;text-align:center;">Fallos: {{fallos}}/{{intentos}} - Ok: {{aciertos}}/{{objeto.palabra.length}}</h5>
      <h5 id="ahorcado-heading28" ng-if="letrasFalladas!=''" style="color:#000000;font-weight:400;text-align:center;">Errores: {{letrasFalladas}}</h5>
      <table class="tabla-ahorcado">
        <tbody>
          <tr id="tabla-ahorcado">

          </tr>
        </tbody>
      </table>
      <form id="ahorcado-form35" class="list">
        <label class="item item-input" id="ahorcado-input10">
          <span class="input-label">Insert a letter</span>
          <input type="text" placeholder="" ng-model="letraSeleccionada" ng-change="comprobar(letraSeleccionada)" ng-disabled="fallos>=intentos">
        </label>
        <button id="ahorcado-button18" ng-click="siguiente()" ng-if="contador<10" ng-disabled="fallos < intentos &amp;&amp; aciertos < objeto.palabra.length" class="button button-positive button-block">Siguiente</button>
      </form>
      <button id="ahorcado-button19" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <h5 id="ahorcado-heading29" style="color:#000000;font-weight:lighter;text-align:center;">Tiempo restante: {{counter}} segundos</h5>
    </div>
  </ion-content>
</ion-view>