<ion-view title="Help" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/R9FQmAvGVpw?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="help-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="help-container11" class="container">
      <form id="help-form22" class="list">
        <h4 id="help-heading24" style="color:#000000;text-align:center;">Modify your nick</h4>
        <label class="item item-input" id="help-input4">
          <span class="input-label">Nick</span>
          <input type="text" placeholder="New Nick" ng-model="nick">
        </label>
      </form>
      <button id="help-button31" ng-click="changeNick(nick)" class="button button-positive button-block">Update Nick</button>
      <div id="help-markdown5" ng-show="false" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#7E7878;font-size:-10px;">*Changes are not allowed. </p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="help-container13" class="container">
      <form id="help-form26" class="list">
        <h4 id="help-heading25" style="color:#000000;text-align:center;">Change Password</h4>
        <h5 id="help-heading20" style="color:#000000;font-weight:300;text-align:center;">Se enviará un email para modificar la contraseña</h5>
      </form>
      <button id="help-button33" ng-click="resetPassword()" class="button button-positive button-block">Enviar Solicitud</button>
    </div>
  </ion-content>
</ion-view>