<ion-view title="Hieroglyphic" hide-back-button="true" cache-view="false" id="page11">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-home" ng-click="exit()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div id="hieroglyphic-container12" ng-show="show === false" class="container">
      <h4 id="hieroglyphic-heading34" ng-if="resultado === ''" style="color:#000000;font-weight:400;text-align:right;">{{counter}}</h4>
      <h4 id="hieroglyphic-heading32" style="color:#439B90;font-weight:400;text-align:center;">{{objeto.pista}}</h4>
      <div class="jeroglifico">
        <img src="{{objeto.url}}" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="hieroglyphic-form37" class="list">
        <label id="input" class="item item-input">
          <input id="input-in" type="text" placeholder="Case sensitive" ng-model="objeto.inputText">
        </label>
      </form>
    </div>
    <div id="hieroglyphic-container19" class="container-boton">
      <button id="hieroglyphic-button20" ng-click="siguiente()" ng-if="contador<10 &amp;&amp; resuelto" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
      <button id="hieroglyphic-button21" ng-if="contador>9 &amp;&amp; resuelto" ng-click="exit()" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Exit!</button>
      <button id="hieroglyphic-button22" ng-click="comprobar()" ng-if="!resuelto" ng-disabled="objeto.inputText == ''" ng-show="show === false" class="button button-positive button-block">Submit</button>
    </div>
  </ion-content>
</ion-view>