<ion-view title="Parejas" hide-back-button="true" cache-view="false" id="page13" style="background-color:#E9F3E9;" ng-init="startTimer()">
  <ion-content padding="true" class="has-header">
    <div id="parejas-container15" class="container">
      <form id="parejas-form39" class="list">
        <h5 id="parejas-heading39" style="color:#000000;font-weight:lighter;text-align:center;">Ejercicio: {{contador}}/10</h5>
      </form>
      <div>
        <div style="margin-bottom: 5%; width: 49%; float:left;">

          <ion-item id="i1" ng-click="comprobar('i1')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>
          <ion-item id="i2" ng-click="comprobar('i2')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>
          <ion-item id="i3" ng-click="comprobar('i3')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>

        </div>

        <div style="width: 49%; margin-bottom: 5%; float: right;">
          <ion-item id="r1" ng-click="comprobar('r1')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>
          <ion-item id="r2" ng-click="comprobar('r2')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>
          <ion-item id="r3" ng-click="comprobar('r3')">
            <img style="width:100%" src="{{objeto.placeholder}}">
          </ion-item>
        </div>
      </div>
      <h5 id="parejas-heading41" style="color:#000000;text-align:center;">{{click}}</h5>
      <button id="parejas-button25" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <button id="parejas-button26" ng-click="siguiente()" ng-if="contador<10" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
      <h5 id="parejas-heading42" ng-if="resultado === ''" style="color:#000000;font-weight:lighter;text-align:center;">Tiempo restante: {{counter}} segundos</h5>
    </div>
  </ion-content>
</ion-view>