<ion-view title="Preguntas" hide-back-button="true" cache-view="false" id="page7" style="background-color:#E9F3E9;">
  <ion-content padding="true" class="has-header">
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div id="preguntas-container2" ng-show="show === false" class="container">
      <form id="preguntas-form17" class="list">
        <h5 id="preguntas-heading7" style="color:#000000;font-weight:lighter;text-align:center;">Ejercicio: {{contador}}/10</h5>
        <h4 id="preguntas-heading8" style="color:#000000;font-weight:400;text-align:center;">{{objeto.pregunta}}</h4>
        <ion-radio id="preguntas-radio2" name="data" ng-model="objeto.selected" ng-value="respuesta" ng-repeat="respuesta in objeto.respuestas" ng-click="comprobar()" ng-disabled="resultado !== ''" class="text-box">{{respuesta}}</ion-radio>
      </form>
      <h4 id="preguntas-heading9" style="color:#000000;font-weight:300;text-align:center;">{{resultado}}</h4>
      <button id="preguntas-button12" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <button id="preguntas-button10" ng-click="siguiente()" ng-if="contador<10" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
      <h5 id="preguntas-heading11" ng-if="resultado === ''" style="color:#000000;font-weight:lighter;text-align:center;">Tiempo restante: {{counter}} segundos</h5>
    </div>
  </ion-content>
</ion-view>