<ion-view title="Preguntas" hide-back-button="true" cache-view="false" nav-transition="none" id="page7" style="background-color:#E9F3E9;">
  <ion-content padding="true" class="has-header">
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div id="preguntas-container2" ng-show="show === false" class="container">
      <form id="preguntas-form17" class="list">
        <h4 id="preguntas-heading11" style="color:#000000;font-weight:400;text-align:right;">{{counter}} </h4>
        <h4 id="preguntas-heading8" style="color:#6FB544;text-align:center;">{{objeto.pregunta}}</h4>
      </form>
      <h4 ng-value="respuesta" ng-repeat="respuesta in objeto.respuestas" ng-click="comprobar(respuesta, $index)" ng-disabled="resultado !== ''" style="color:#000000;font-weight:300;text-align:justify;" class="text-box-p" id="{{$index}}">{{respuesta}}</h4>
      <button id="preguntas-button12" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <button id="preguntas-button10" ng-click="siguiente()" ng-if="contador<10" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
    </div>
  </ion-content>
</ion-view>