<ion-view title="Profile" id="page3" style="background-color:#E9F3E9;">
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="profile-container11" class="container">
      <form id="profile-form22" class="list">
        <h4 id="profile-heading24" style="color:#000000;text-align:center;">Add Nick*</h4>
        <label class="item item-input" id="profile-input4">
          <span class="input-label">Nick</span>
          <input type="text" placeholder="New Nick">
        </label>
      </form>
      <button id="profile-button31" class="button button-positive button-block">Update Nick</button>
      <div id="profile-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#7E7878;font-size:-10px;">*Changes are not allowed. </p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="profile-container13" class="container">
      <form id="profile-form26" class="list">
        <h4 id="profile-heading25" style="color:#000000;text-align:center;">Change Password</h4>
        <label class="item item-input" id="profile-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="New Password">
        </label>
      </form>
      <button id="profile-button33" class="button button-positive button-block">Update Nick</button>
    </div>
  </ion-content>
</ion-view>