<ion-view title="Puzzle" hide-back-button="true" cache-view="false" nav-transition="none" id="page12" style="background-color:#E9F3E9;">
  <ion-content padding="true" class="has-header">
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div id="puzzle-container14" ng-show="show === false" class="container">
      <form id="puzzle-form38" class="list">
        <h4 id="puzzle-heading35" style="color:#000000;font-weight:400;text-align:right;">{{counter}}</h4>
        <h3 id="puzzle-heading36" style="color:#000000;font-weight:400;text-align:center;">{{objeto.tema}}</h3>
      </form>
      <div style="margin-bottom: 10%;">
        <h4 ng-value="palabra.id" ng-repeat="palabra in objeto.desordenadas" ng-click="comprobar(palabra.id)" ng-if="resultado == ''" style="color:#000000;font-weight:300;text-align:justify; " class="text-box-p" id="{{$index}}">{{palabra.id}}</h4>
      </div>
      <div style="margin-bottom: 10%;">
        <h4 ng-value="palabra.id" ng-repeat="palabra in objeto.desordenadas" style="color:#000000;font-weight:300;text-align:justify;" class="text-box-p" id="{{$index}}">{{$index+1}} - {{objeto.ordenadas[$index].id}}</h4>
      </div>
      <h4 id="puzzle-heading37" style="color:#000000;font-weight:300;text-align:center;">{{resultado}}</h4>
      <button id="puzzle-button23" ng-if="contador>9" ng-click="exit()" ng-disabled="resultado === ''" class="button button-positive button-block">Exit!</button>
      <button id="puzzle-button24" ng-click="siguiente()" ng-if="contador<10" ng-disabled="resultado === ''" class="button button-positive button-block">Siguiente</button>
    </div>
  </ion-content>
</ion-view>