<ion-view title="Ranking" id="page2" style="background-color:#E9F3E9;">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-scroll id="ranking-container16" class="top-container">
      <ion-list id="ranking-list7">
        <ion-item class="item-avatar" id="ranking-list-item9" ng-repeat="message in messages">
          <h2>{{message.email}}</h2>
          <p>{{message.text}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <form id="ranking-form44" class="list bottom-form" ng-submit="addMessage()">
      <label class="item item-input" id="ranking-input12">
        <span class="input-label">Message</span>
        <input type="text" placeholder="" ng-model="data.message">
      </label>
      <div style="margin-right:-20px;">
        <button id="ranking-button28" style="left:-10px;" class="button button-positive button-full">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>