<ion-view title="Sopa de Letras" hide-back-button="true" cache-view="false" id="page9" style="background-color:#E9F3E9;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-delete" ng-click="clear()"> Clear</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="sopaDeLetras-container8" ng-show="show === false" class="container">
      <h4 id="sopaDeLetras-heading31" style="color:#000000;font-weight:400;text-align:right;" class="counter">{{counter}}</h4>
      <h4 id="sopaDeLetras-heading33" style="color:#000000;font-weight:400;">{{nPalabras}} words left</h4>
      <h3 id="sopaDeLetras-heading19" style="color:#000000;text-align:center;">{{objeto.pregunta}}</h3>
      <div id="sopaLetras" style="margin">
        <table style="width: 100%;">
          <tbody>
            <tr ng-repeat="row in matrix">
              <td id="elem{{$parent.$index}}-{{$index}}" ng-repeat="elem in row track by $index" ng-click="funciona($parent.$index,$index,elem)">
                {{elem}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 id="sopaDeLetras-heading40" style="color:#000000;font-weight:300;text-align:center;">{{resultado}}</h4>
      <button id="sopaDeLetras-button16" ng-if="contador>4" ng-click="exit()" ng-disabled="nPalabras > 0" class="button button-positive button-block">Exit!</button>
      <button id="sopaDeLetras-button17" ng-click="siguiente()" ng-if="contador<5" ng-disabled="nPalabras > 0" class="button button-positive button-block">Siguiente</button>
    </div>
    <div ng-show="show === true" class="spinner-div">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
  </ion-content>
</ion-view>