<ion-view title="Sopa de Letras" hide-back-button="true" cache-view="false" id="page9" style="background-color:#E9F3E9;" ng-init="startTimer()">
  <ion-content padding="true" class="has-header">
    <div id="sopaDeLetras-container8" class="container">
      <h3 id="sopaDeLetras-heading19" style="color:#000000;text-align:center;">{{objeto.pregunta}}</h3>
      <div class="divTable">
        <div id="sopaLetras" class="divTableBody">
        </div>
      </div>
      <h4 id="sopaDeLetras-heading21" style="color:#000000;font-weight:300;text-align:center;">{{resultado}}</h4>
      <button id="sopaDeLetras-button16" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <button id="sopaDeLetras-button17" ng-click="siguiente()" ng-if="contador<10" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
      <h5 id="sopaDeLetras-heading22" ng-if="resultado === ''" style="color:#000000;font-weight:lighter;text-align:center;">Tiempo restante: {{counter}} segundos</h5>
    </div>
  </ion-content>
</ion-view>