<ion-view title="Video" hide-back-button="true" cache-view="false" id="page5" style="background-color:#E9F3E9;" ng-init="startTimer()">
  <ion-content padding="true" class="has-header">
    <div id="video-container1" class="container">
      <h5 id="video-heading13" style="color:#000000;font-weight:lighter;text-align:center;">Ejercicio: {{contador}}/10</h5>
      <h3 id="video-heading12" style="color:#000000;font-weight:400;text-align:center;">{{objeto.pregunta}}</h3>
      <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/&quot;+objeto.url+&quot;?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="video-video1" class="video">
        <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
      <form id="video-form16" class="list">
        <ion-radio id="video-radio3" ng-model="objeto.selected" ng-repeat="respuesta in objeto.respuestas" ng-value="respuesta.id" ng-click="comprobar()" ng-disabled="resultado !== ''">{{respuesta.id}}</ion-radio>
      </form>
      <h4 id="video-heading14" style="color:#000000;text-align:center;">{{resultado}}</h4>
      <button id="video-button11" ng-click="siguiente()" ng-if="contador<10" ng-disabled="objeto.selected === ''" class="button button-positive button-block">Siguiente</button>
      <button id="video-button13" ng-if="contador>9" ng-click="exit()" class="button button-positive button-block">Exit!</button>
      <h5 id="video-heading10" ng-if="resultado === ''" style="color:#000000;font-weight:lighter;text-align:center;">Tiempo restante: {{counter}} segundos</h5>
    </div>
  </ion-content>
</ion-view>