<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page4">
  <ion-content padding="true" style="background: url(img/6nScv3dkRNqtat5SVZJE_1020PANTALLA2001.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list center-form">
      <div class="spacer" style="width: 300px; height: 295px;"></div>
      <label class="item item-input bottom-input" id="login-input1">
        <span class="input-label">Email</span>
        <input type="email" placeholder="" ng-model="data.email">
      </label>
      <label class="item item-input bottom-input" id="login-input3">
        <span class="input-label">Password</span>
        <input type="password" placeholder="" ng-model="data.password">
      </label>
      <div id="login-markdown1" ng-if="error != ''" style="text-align:center;" class="show-list-numbers-and-dots error-box">
        <p style="color:#FFFFFF;">{{error}}</p>
      </div>
      <button id="login-button1" ng-click="login()" class="button button-positive button-block">Log in</button>
    </form>
  </ion-content>
</ion-view>