<div class="first-row row">
  <mat-toolbar color="primary" class="d-none d-xl-block">
    <button *ngIf="entrar"  class="col-xl-1 float-left login" mat-button (click)="click()">
      <mat-icon>undo</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button *ngIf="!entrar" mat-button (click)="click()" class="col-xl-2 float-right login">Acceso Gestor/Administrador</button>
  </mat-toolbar>

  <div class="mt-0 col-md-6" *ngIf="!entrar">
    <img src="../../assets/iPot.png">
    <div class="store-spacer"></div>
    <a href="https://itunes.apple.com/es/app/ipot/id1291766873?mt=8">
      <img src="../../assets/app-store-badge.svg">
    </a>
    <div class="store-spacer"></div>
    <a href="https://play.google.com/store/apps/details?id=com.ipot.ipotMobileLearning">
      <img  src="../../assets/google-play-badge.svg">
    </a>
  </div>

  <div class="mt-md-5 col-md-6" *ngIf="!entrar">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="268" height="480" type="text/html" src="https://www.youtube.com/embed/AIAHRLYjO0o?autoplay=0&fs=0&iv_load_policy=1&showinfo=1&rel=0&cc_load_policy=0&start=0&end=0&vq=hd1080"></iframe>
  </div>

  <mat-card mat-elevation-z12 *ngIf="entrar">
    <img class="entrar" src="../../assets/iPot.png" *ngIf="entrar">

    <mat-spinner *ngIf="loading"></mat-spinner>

    <form *ngIf="!loading">
      <mat-chip-list *ngIf="errorMessage" class="mat-chip-list-stacked">
        <mat-chip *ngFor="let chip of availableColors" selected="true" [color]="chip.color">
          {{errorMessage}}
        </mat-chip>
      </mat-chip-list>
      <div>
        <input [(ngModel)]="email" type="email" placeholder="email" name="user"><span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <input [(ngModel)]="pass" type="password" placeholder="password" name="password"><span class="highlight"></span><span class="bar"></span>
      </div>
      <button [disabled]="!(email != '' && pass != '')" (click)="login()" type="button" class="button buttonBlue">Acceder
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
    </form>
  </mat-card>
</div>




